<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FantasticMusicPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FantasticMusicPlayer.Properties.Settings>
            <setting name="playmode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shuffemode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bassboost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spectrummode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fxfile" serializeAs="String">
                <value />
            </setting>
        </FantasticMusicPlayer.Properties.Settings>
    </userSettings>
</configuration>